<div class="container"><h2>Рецепты:</h2> </div>
<div class = "container">
    <div class="row">
    <% @recipes.each do |recipe| %>
            <div class = "col-md-4 text-left my-4">
                <%=link_to recipe_path(recipe) do%>
                    <div >
                    <%= image_tag recipe.image.url(:thumb), class: 'img-show w-100' if recipe.image? %>
                    </div>
                <%end%>
                <%= link_to "#{recipe.title}", recipe_path(recipe), class: "a"%>
                <br>
                <small> Автор: 
                <%if(User.find(recipe.user_id).nickname)%>
                    <%=link_to "#{User.find(recipe.user_id).nickname}", profile_path(User.find(recipe.user_id)), class: "a" %>
                <%else%>
                    <%=link_to "#{User.find(recipe.user_id).email}", profile_path(User.find(recipe.user_id)), class: "a" %>
                <%end%>
                </small>
                <%# <%= link_to "Читать", recipe_path(recipe), class: "btn btn-outline-primary btn-sm"%> 
            </div>
    <% end%>
    </div>
</div>
